# Virtual Environments
venv/
env/
.venv/
.env/

# Environment variables
.env
*.env

# node_modules
node_modules/

# Build outputs
dist/
build/
.output


# IDE / Editor config
.vscode/
.idea/
*.sublime-workspace
.cursor

# OS-specific files
.DS_Store
Thumbs.db